@tailwind base;
@tailwind components;
@tailwind utilities;

/* commento */

img {
    @apply select-none pointer-events-none
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.pulsate {
    animation: pulsate 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulsate {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .blur-out {
    animation: blurOut 2s cubic-bezier(0.4, 0, 0.6, 1) both;
}

@keyframes blurOut {
    0% {
      opacity: 1;
      filter: blur(0);
    }
    50% {
      opacity: 1;
      filter: blur(0);
    }
    100% {
        opacity: 0;
        filter: blur(16px);
    }
  }


  .fade-in {
    animation: fadeIn 500ms cubic-bezier(0.4, 0, 0.6, 1) both;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }