.page-layout {
    @apply h-full w-full overflow-y-auto
}

.page-header {
    @apply aspect-square lg:aspect-[3/1] w-full flex items-center justify-center p-2
}

.websites-grid {
    @apply grid grid-cols-1 lg:grid-cols-3 gap-0 border-t
}

.website-grid--item {
    @apply aspect-square w-full p-2 border-r border-b relative flex
}

.website-item--slug {
    @apply absolute inset-x-0 bottom-0 pt-1 pb-2 text-center
}

.website-item--link {
    @apply absolute bottom-0 left-0 p-2
}
.website-item--image {
    @apply relative aspect-auto rounded-md shadow-xl overflow-hidden w-2/3 m-auto
}

.website-dialog--trigger {
    @apply absolute bottom-0 right-0 p-2
}

.website-dialog--portal {
    @apply fixed inset-0 p-4 flex
}
.website-dialog--bg {
    @apply data-[state=open]:animate-overlayShow fixed inset-0 bg-black
}

.website-dialog--card {
    @apply data-[state=open]:animate-contentShow bg-white rounded-3xl w-full h-full max-w-[95%] xl:max-w-screen-xl mx-auto my-auto max-h-[95%] lg:max-h-[80%] overflow-hidden px-4 py-16 fixed inset-0 m-auto
}

.dialog-card--info-section {
    @apply flex flex-col gap-4 max-w-screen-sm mx-auto
}

.dialog-card--iframe-section {
    @apply aspect-[9/16] border w-full lg:aspect-video mx-auto lg:w-11/12 data-[hidden=false]:bg-white origin-top-left overflow-hidden shadow-2xl rounded-2xl
}

.dialog-card--iframe-section iframe {
    @apply w-full h-full
}

.dialog-card--close-button {
    @apply text-black absolute top-[10px] right-[10px] inline-flex h-[25px] w-[25px] appearance-none items-center justify-center rounded-full focus:shadow-[0_0_0_2px] focus:outline-none
}

.dialog-info-section--description {
    @apply text-justify
}
.dialog-info-section--loader {
    @apply w-full max-w-screen-sm mx-auto h-3 lg:h-8
}
.dialog-info-section--loader p {
    @apply italic text-sm animate-pulse
}
.dialog-info-section--info-table {
    @apply grid grid-cols-1 md:grid-cols-3 gap-4
}

.dialog-info-table--link {
    @apply flex items-center gap-1 w-full text-sm hover:opacity-80
}
.dialog-info-table--date {
    @apply flex items-center lg:justify-center gap-1 md:text-center w-full text-sm
}
.dialog-info-table--details {
    @apply flex items-center lg:justify-end gap-1 md:text-right w-full text-sm
}

.grid-bg {
    background: repeating-linear-gradient(0deg, transparent, transparent 23px, #ccc 23px, #ccc 24px),
    repeating-linear-gradient(-90deg, transparent, transparent 23px, #ccc 23px, #ccc 24px);
    background-size: 24px 24px;
    opacity: 50%;
  }